@use 'base/variables' as v;
@use 'base/mixins' as m;

.formulario {
    @include m.contenedor-form;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    &__barra {
        @include m.contenedor;
        height: .07rem;
        width: 90%;
        background-color: #D9D9D9;
        margin-bottom: 1rem;

        @include m.tablet {
            width: 100%;
            margin-bottom: 4rem;

        }

        &--registro{
            margin-bottom: 0;
        }

    }

    &__parrafo{
        @include m.formatear();
        
    }

    &__campo {
        display: flex;
        align-items: center;
        width: 80%;
    }

    &__check {
        margin: 0.5rem 0 0 .5rem;
        font-weight: v.$bold;
        font-size: 1.6rem;

        &:hover {
            cursor: pointer;
        }

        @include m.tablet{
            margin-left: .5rem;
        }
    }

    &__enlace {
        color: v.$azul;
        font-size: 1.6rem;

        position: relative;
        @include m.tablet{
            font-size: 1.8rem;
        }

        &::before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 2px;
            background: linear-gradient(to right, v.$amarillo, v.$azul, v.$rojo);
            z-index: 1;
            transform: scaleX(0);
            transform-origin: left;
            transition: transform 0.5s ease-in-out;
        }

        &:hover::before {
            transform: scaleX(1);
        }
    }

    &__input {
        width: 100%;
        border: 1px solid v.$azul;
        border-radius: 1rem;
        padding: .5rem;

        &::placeholder {
            font-size: 1.6rem;
        }

        &--file{
            width: 0.1px;
            height: 0.1px;
            opacity: 0;
            overflow: hidden;
            position: absolute;
            z-index: -1;
        }
    }

    &__label{
        align-self: self-start;
        margin-left: 3.5rem;
        color: v.$negro50;
        font-size: 1.7rem;

        &--imagen{
            max-width: 80%;
            font-size: 1.25rem;
            font-weight: v.$bold;
            text-overflow: ellipsis;
            white-space: nowrap;
            cursor: pointer;
            display: inline-block;
            overflow: hidden;
            padding: 0.625rem 1.25rem;
            color: v.$blanco;
            background-color: v.$azul;
            // position: relative;
            // right: 5.5rem;
            margin-left: inherit;
        }

        &--label-imagen{
            @include m.tablet{
                margin-left: 5.3rem;
            }
        }
    }

    &__centro {
        display: flex;
        gap: 4rem;
        margin: 2rem 0;
        margin-left: 1rem;

        @include m.tablet{
            gap: 17rem;

        }
    }

    &__submit {
        @include m.boton(v.$azul, v.$blanco);
        width: 80%;
        border-radius: 1rem;
        padding: 1rem;
        margin-bottom: 1rem;
    }
}