@use 'base/variables' as v;
@use 'base/mixins' as m;

body{
    overflow: scroll;
    overflow-x: hidden;
    &::-webkit-scrollbar { //Todo El Elemento ScrollBar
        width: 1rem;
    }

    &::-webkit-scrollbar-thumb { //Solo La Barra
        background-color: v.$azul;
        border-radius: .1rem;
    }
}
.titulo {
    color: v.$negro;
    text-align: center;
    @include m.texto-fluido(2rem, 3rem);
    font-weight: v.$bold;
    margin: 1.5rem 0 2rem 0;
    padding: 0;
}
