@use 'base/variables' as v;
@use 'base/mixins' as m;

.header{
    background-color: v.$azul;
    padding: .5rem 1rem;
}

.navegacion{
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__izquierda{
        display: flex;
        align-items: center;
        gap: 2rem;
    }
    &__logo{
        width: 5rem;
    }
    &__menu{
        display: flex;
        align-items: center;
        color: v.$blanco;
        font-size: 16px;
        cursor: pointer;
        gap: .5rem;
    }
    &__medio{
        flex-grow: 1;
        text-align: center;
    }
    &__busqueda{
        position: relative;
        display: inline-block;
    }
    &__medio-buscar{
        width: 30rem;
        padding: .8rem;
        border-radius: .4rem;
        border: 1px solid #ccc;
        background-color: v.$background;
        color: v.$blanco;
    }
    &__derecha{
        display: flex;
        align-items: center;
    }
    &__enlace{
        display: flex;
        align-items: center;
        gap: .5rem;
        color: white;
        text-decoration: none;
        margin-right: 2rem;
        font-size: 1.6rem;
    }
    &__enlace-texto{
        font-size: 2rem;
        margin: 0;
    }
    &__enlace-logosvg{
        width: 3.3rem;
        height: 2.6rem;
        &--lupa{
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
            height: 20px;
            cursor: pointer;
        }
    }

}
