@use 'base/variables' as v;
@use 'base/mixins' as m;

.nosotros{

    &__titulo{
        text-align: center;
        font-size: 3.5rem;
    }
    &__grid{
        @include m.grid(1, 1rem);
        justify-items: center;

        @include m.tablet{
            @include m.grid(2, 1rem);
            grid-template-areas: "imagen parrafos" //Fila 1
                        "imagen parrafos"; //Fila 2
            align-items: center;

        }
    }
    &__img{
        width: 25rem;

        @include m.tablet{
            grid-area: imagen;
            width: 95%;
            margin-left: 1rem;
        }
    }
    &__parrafos{
        @include m.contenedor;
        font-size: 1.6rem;
        text-align: center;

        @include m.tablet{
            grid-area: parrafos;     
            font-size: 2rem;
            text-align: justify;
            margin-right: 3rem;
        }
    }
    &__frase{
        @include m.contenedor;
        background-color: v.$negro50;
        border-radius: 1rem;

        @include m.tablet{
            padding: 2rem;
        }
    }
    &__parrafo-frase{
        @include m.formatear;
        color: v.$blanco;
        font-weight: v.$bold;
        font-size: 1.6rem;
        padding: .5rem;
        text-align: center;

        @include m.tablet{
            font-size: 2rem;
        }
    }
}